.completion-information {
  margin-top: 48px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment {
  font-size: 24px;
  margin-bottom: 24px;
}

.audience-field{
  vertical-align: middle;
  transform:scale(1.3);
  opacity:0.9;
  cursor:pointer;
}

.label-box{
  display: flex;
  align-items: center;
}