:root {
  --main-light-gray-color: #EEEEEE;
  --main-dark-gray-color: #757575;
  --main-blue-color: #005BFF;
  --main-black-color: #000000;
  --main-white-color: #FFFFFF;
  --box-gray-shadow-color: rgba(0,0,0,0.05);
}

.main {
  .top{
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
}

.timer {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  width: 219px;
  justify-content: space-between;
}

.time {
  color: var(--main-blue-color);
}

.question-block {
  margin-top: 48px;

  .questions-list {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .q-and-a {
    margin-top: 30px;
  }
}

.question-item {
  background-color: var(--main-light-gray-color);
  border-radius: 5px;
  font-size: 24px;

  padding: 6px 18px;
  margin-right: 16px;

  &.active {
    border: solid 2px var(--main-blue-color);
  }
  
  &.done {
    background-color: var(--main-blue-color);
    
    .question-link {
      color: var(--main-white-color);
    }
  }
}

.question {
  font-size: 24px;
}

.answers {
  margin-top: 4px;

  .form-check {
    font-size: 16px;
    margin-top: 20px;
  }

  .form-select {
    font-size: 16px;
    margin-top: 20px;
  }
}

.buttons {
  margin-top: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* Пока не утвердили
  .btn-return {
    margin-right: 40px;
  }*/
}

.progress {
  margin-top: 48px;
}

.instructions {
  font-size: 12px;
  color: var(--main-dark-gray-color);
}
