:root {
  --main-light-gray-color: #EEEEEE;
  --main-dark-gray-color: #757575;
  --main-blue-color: #005BFF;
  --main-black-color: #000000;
  --main-white-color: #FFFFFF;
  --box-gray-shadow-color: rgba(0,0,0,0.05);
}

body {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;

  position: relative;
  margin: 0;
  min-height: 100vh;
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
  background-color: var(--main-light-gray-color);
}

a {
  text-decoration: none;
  color: var(--main-black-color);
}

.wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contain-1 {
  max-width: 1160px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.contain-2 {
  max-width: 1260px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main {
  background-color: var(--main-white-color);
  border-radius: 20px;
  box-shadow: 0px 8px 25px var(--box-gray-shadow-color);

  padding: 64px 50px; 
  /*64px - отступ до хлебных крошек, для заголовков добавляем отдельно
    Если есть хлебные крошки, то верхний отступ у заголовка 20px
    Если нет, то верхний отступ у заголовка 36px
    Сумарный отступ от контейнера до заголовка - 100px в любом из случаев*/
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-width: 1260px;
}

.breadcrumb {
  margin-bottom: 0px;

  .breadcrumb-item {
    font-size: 12px;
  }
}

.page-title-left {
  font-size: 36px;
  text-align: left;
  margin-bottom: 48px;
}

.page-title-center {
  font-size: 36px;
  text-align: center;
  margin-bottom: 48px;
}

.title-2 {
  font-size: 24px;
}

.indentation-page-title {
  margin-top: 20px;
}

.hidden {
  visibility: hidden;
}

.btn {
  padding: 18px 32px;
  border-radius: 24px;
  font-size: 16px;
  color: var(--main-white-color);
  line-height: 88%;
}

.btn-dflt {
  background-color: var(--main-dark-gray-color);
  
  &:hover {
    background-color: var(--main-dark-gray-color);
    color: var(--main-white-color);

    transition-duration: 500ms;
    box-shadow: 0px 0px 10px rgb(117, 117, 117);
  }
}

.btn-cta {
  background-color: var(--main-blue-color);

  &:hover {
    background-color: var(--main-blue-color);
    color: var(--main-white-color);

    transition-duration: 500ms;
    box-shadow: 0px 0px 10px rgb(0, 91, 255);
  }
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.blue {
  color: var(--main-blue-color)
}

.font-16-px {
  font-size: 16px;
}