@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?llzykl');
  src:  url('fonts/icomoon.eot?llzykl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?llzykl') format('truetype'),
    url('fonts/icomoon.woff?llzykl') format('woff'),
    url('fonts/icomoon.svg?llzykl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrows-left:before {
  content: "\e910";
}
.icon-arrows-right:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e90e";
}
.icon-cross:before {
  content: "\e903";
}
.icon-copy:before {
  content: "\e904";
}
.icon-settings:before {
  content: "\e905";
}
.icon-checkbox:before {
  content: "\e906";
}
.icon-radio-button:before {
  content: "\e907";
}
.icon-swipe-to-left:before {
  content: "\e908";
}
.icon-swipe-to-right:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-save:before {
  content: "\e90b";
}
.icon-trash:before {
  content: "\e90c";
}
.icon-visibility:before {
  content: "\e90d";
}
.icon-img:before {
  content: "\e902";
}
.icon-logo:before {
  content: "\e901";
  color: #005bff;
}
.icon-bell:before {
  content: "\e900";
}
