@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l5ghmy');
  src:  url('fonts/icomoon.eot?l5ghmy#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l5ghmy') format('truetype'),
    url('fonts/icomoon.woff?l5ghmy') format('woff'),
    url('fonts/icomoon.svg?l5ghmy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e901";
  color: #005bff;
}
.icon-bell:before {
  content: "\e900";
}
