.navbar{
    margin-bottom: 60px;
}
ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #3a3a3a;
    background-color: #ffffff;
    border-bottom:1px #d1d1d1 solid ;
    display: inline-flex;

}

ul li {
    display: inline-flex;
    color: #3a3a3a;
    text-align: center;

    
}

.logo{
    margin-right: 10px;
    vertical-align: middle;

}

.logo:hover{
    background-color: #ffffff;
}

img{
    width: 64px;
    text-align: center;
}

.account{
    text-align: right;
    margin-left: auto;
    margin-right: 0px;
    

}

.login{
    border-left: 1px  #d1d1d1 solid;
    position: relative; 
}

ul li a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    padding: 14px 16px;

}

ul li a:hover {
    display: inline-block;
    text-decoration: none;
}


ul li:hover:not(.logo) {
    background-color: #005BFF;
    color: #ffffff;
}

ul li a.active {
    background-color:#005BFF;
}